/kernels/*.gb
/kernels/*.sav
/kernels/*.sym
/kernels/*.zip
/x64_debug/*.dll
/x64_debug/*.exe
/x64_debug/*.pdb
/x64_debug/gbbasic
/x64_debug/*.0
/x64_debug/*.1
/x64_debug/*.so
/x64_release/*.dll
/x64_release/*.exe
/x64_release/*.pdb
/x64_release/gbbasic
/x64_release/gbbasic_steam
/x64_release/*.0
/x64_release/*.1
/x64_release/*.so
/x86_debug/*.dll
/x86_debug/*.exe
/x86_debug/*.pdb
/x86_debug/gbbasic
/x86_debug/*.0
/x86_debug/*.1
/x86_debug/*.so
/x86_release/*.dll
/x86_release/*.exe
/x86_release/*.pdb
/x86_release/gbbasic
/x86_release/gbbasic_steam
/x86_release/*.0
/x86_release/*.1
/x86_release/*.so
/*.app
