/.vs/gbbasic/v14
/enc_temp_folder
/debug
/temp
/build

/gbbasic.xcodeproj/project.xcworkspace/xcuserdata
/gbbasic.xcodeproj/xcuserdata
/gbbasic.VC.db
/gbbasic.VC.VC.opendb

*.DS_Store
*.exp
*.idb
*.ilk
*.iobj
*.ipdb
*.ncb
*.obj
*.suo
